# Terraform files
.terraform/
terraform.tfstate
terraform.tfstate.*
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# IDE
.idea/
*.swp
*.swo
*~
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
